In [3]:
#modules
import os
import csv

In [9]:
#more dependencies and setup
import pandas as pd

#set the file to Load
csvPath = os.path.join("Resources", "purchase_data.csv")

#use pandas to read the file and store in data frame
purchaseData_pd = pd.read_csv(csvPath)
purchaseData_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [35]:
#store unique value in a variable 
uniquePlayers = purchaseData_pd["SN"].nunique()

#make a new data frame to display it
totalPlayerSummary = pd.DataFrame({"Count of Unique Players": [uniquePlayers]})
totalPlayerSummary

   Count of Unique Players
0                      576

In [33]:
#gather the info for the Purchasing Analysis display 
uniqueItems = purchaseData_pd["Item ID"].nunique()
average = purchaseData_pd["Price"].mean()
totalPurchases = purchaseData_pd["Purchase ID"].count()
totalRevenue = purchaseData_pd["Price"].sum()

#make a data frame to display the purchasing analysis info
summaryTable = pd.DataFrame({"# of Unique Items":[uniqueItems], "Average Price": [average],
                             "Total Purchases": [totalPurchases],"Total Revenue": [totalRevenue]})
summaryTable

   # of Unique Items  Average Price  Total Purchases  Total Revenue
0                183       3.050987              780        2379.77

In [42]:
#gather the info for the Gender Demographics display
#% and Count of Male Players
#% and Count of Female Players
#% and Count of Other / Non-Disclosed
maleCount = purchaseData_pd.loc[purchaseData_pd["Gender"] == "Male"].count()
maleCount

Purchase ID    652
SN             652
Age            652
Gender         652
Item ID        652
Item Name      652
Price          652
dtype: int64