In [1]:
#import dependencies
import os
import csv
import pandas as pd

In [2]:
#set the file to Load
csvPath = os.path.join("Resources", "purchase_data.csv")

#use pandas to read the file and store in data frame
purchaseData_pd = pd.read_csv(csvPath)
purchaseData_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#store unique value in a variable 
uniquePlayers = purchaseData_pd["SN"].nunique()

#make a new data frame to display it
totalPlayerSummary = pd.DataFrame({"Count of Unique Players": [uniquePlayers]})
totalPlayerSummary

   Count of Unique Players
0                      576

In [4]:
#gather the info for the Purchasing Analysis display 
uniqueItems = purchaseData_pd["Item ID"].nunique()
average = purchaseData_pd["Price"].mean()
totalPurchases = purchaseData_pd["Purchase ID"].count()
totalRevenue = purchaseData_pd["Price"].sum()

#make a data frame to display the purchasing analysis info
summaryTable = pd.DataFrame({"# of Unique Items":[uniqueItems], "Average Price": [average],
                             "Total Purchases": [totalPurchases],"Total Revenue": [totalRevenue]})
summaryTable

   # of Unique Items  Average Price  Total Purchases  Total Revenue
0                183       3.050987              780        2379.77

In [5]:
#group purchase data by Gender
genderStats = purchaseData_pd.groupby("Gender")

#count the total of screen names by gender
totalCountGender = genderStats.nunique()["SN"]

#Total count by gender then divivde by total players 
playerPercentage = totalCountGender / uniquePlayers * 100

#create data frame 
genderDemographics = pd.DataFrame({"Percentage of Players": playerPercentage, "Total Count": totalCountGender})

#format the data frame with no index name 
genderDemographics.index.name = None

#format the values sorted by total count in descending order, and two decimal places for the percentage
genderDemographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [6]:
#group purchase stats by gender --purchase count by gender
purchaseStats = genderStats.nunique()["Purchase ID"]

#average purchase price
avgPurch = genderStats["Price"].mean()

#total purchase value
totalVal = genderStats["Price"].sum()

#average purchase by person by gender
avgPurchPerson = (genderStats["Price"].sum() / genderStats["SN"].count())

#create data frame 
purchaseDemographics = pd.DataFrame({"Count": purchaseStats, 
                                     "Average": avgPurch, 
                                     "Total Purchase Value":totalVal, 
                                     "Average per person": avgPurchPerson})

#format the data frame with no index name 
purchaseDemographics.index.name = None

#format the values sorted by total count in descending order, and two decimal places for the percentage
purchaseDemographics.sort_values(["Total Purchase Value"], ascending = False).style.format({
    "Average":"{:.2f}", "Average per person":"{:.2f}"})

In [7]:
#bin and name
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ['under 10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']
pd.cut(purchaseData_pd["Age"], bins, labels=group_names)

purchaseData_pd["Age"] = pd.cut(purchaseData_pd["Age"], bins, labels= group_names)

#Purchase count
age_group_count = round(purchaseData_pd["Age"].value_counts())

#average purchase price
age_group_avg = purchaseData_pd.groupby("Age")["Price"].mean()
age_group_avg.round(2)

#total purchase value
age_group_totalVal = purchaseData_pd.groupby("Age")["Price"].sum()

#create data frame
age_range_df = pd.DataFrame({"Purchase Count":age_group_count,
                            "Average Purchase Price":age_group_avg,
                            "Total Purchase Value": age_group_totalVal
})
age_range_df

          Purchase Count  Average Purchase Price  Total Purchase Value
under 10              23                3.353478                 77.13
10-14                 28                2.956429                 82.78
15-19                136                3.035956                412.89
20-24                365                3.052219               1114.06
25-29                101                2.900990                293.00
30-34                 73                2.931507                214.00
35-39                 41                3.601707                147.67
40+                   13                2.941538                 38.24

In [10]:
#Identify the the top 5 spenders in the game by total purchase value
purchase_count = purchaseData_pd.groupby("SN").count()["Price"].rename("Purchase Count")
average_price= purchaseData_pd.groupby("SN").mean()["Price"].rename("Average Purchase Price")
purchase_total = purchaseData_pd.groupby("SN").sum()["Price"].rename("Total Purchase Value")

#create data frame
total_user_data = pd.DataFrame({"Purchase Count":purchase_count,
                                   "Average Purchase Price": average_price,
                                   "Total Purchase Value": purchase_total})

#sorted to show the top five spenders
top_five = total_user_data.sort_values("Total Purchase Value", ascending=False)
top_five.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [13]:
#Identify the 5 most popular items by purchase count
items_purchase_count = purchaseData_pd.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
items_average_price = purchaseData_pd.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price")
items_value_total = purchaseData_pd.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

#create data frame
items_purchased = pd.DataFrame({"Purchase Count":items_purchase_count,
                                   "Item Price":items_average_price,
                                   "Total Purchase Value":items_value_total})


#sorted to show the five the most popular items
most_popular_items = items_purchased.sort_values("Purchase Count", ascending=False)
most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [15]:
#Identify the 5 most profitable items by total purchase value
most_profitable_items = items_purchased.sort_values("Total Purchase Value", ascending=False)
most_profitable_items.head(20)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80
59,"Lightning, Etcher of the King",8,4.23,33.84
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
78,"Glimmer, Ender of the Moon",7,4.40,30.80
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
160,Azurewrath,6,4.40,26.40
25,Hero Cane,6,4.35,26.10
37,"Shadow Strike, Glory of Ending Hope",8,3.16,25.28
139,"Mercy, Katana of Dismay",5,4.94,24.70
128,"Blazeguard, Reach of Eternity",5,4.91,24.55
138,"Peacekeeper, Wit of Dark Magic",5,4.74,23.70
141,Persuasion,7,3.19,22.33
87,"Deluge, Edge of the West",5,4.43,22.15
159,"Oathbreaker, Spellblade of Trials",7,3.08,21.56

In [ ]:
#Players between the ages of 20-24 make the most purchases although players between 
#the ages of 35-39 have paid the most per purchase

#The item "Oathbreaker, Last Hope of the Breaking Storm" has been the most profitable item

#The item "Oathbreaker, Last Hope of the Breaking Storm" has also been the most purchased item

#One could hypothesize that players who enjoy being Commanders are willing to spend actual money 
#on items and therefore may be worth marketing dollars